Hello, I am in the html

<h1>Hello to the CLUBS</h1>
<p>This is in a p tag</p>

<p><%= Club.all[0] %> </p>

<% @clubs.each do |club|%>
  <p><%= club.name%></p>
  <a href="http://localhost:3000/clubs/2"> More Information </a>
  <button onClick="showMoreInfo()">More Info 2</button>
  <script>
    function showMoreInfo() {
      window.location.href = "http://localhost:3000/clubs/2"
    }
  </script>
  <hr/>
<%end%>
