Hello, I am in the html

<h1>Hello to the CLUBS</h1>
<a href="/clubs/new">Add New Club</a>


<% @clubs.each do |club|%>
  <p><%= club.name%></p>
  <a href="<%= "/clubs/#{club.id}" %>"> More Information </a>
  <button onClick="showMoreInfo()">More Info 2</button>
  <script>
    function showMoreInfo() {
      window.location.href =" <%= "/clubs/#{club.id}" %> "
    }
  </script>
  <hr/>
<%end%>
